*{
    font-family: "Josefin Sans", sans-serif;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
    
}
.price{
    color: #ff136f;
}
.cursor{
    cursor: pointer;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    margin-bottom: 50px;
    
}
.watch-bg{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #ffd143 0%, #ff9153 90% );
    border-radius: .3rem;
    color: white;
    padding: .75rem;
    margin-bottom: 4px;
}
.bag-bg{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #934343 0%, #6f1b1b 90% );
    border-radius: .3rem;
    color: white;
    padding: .75rem;
    margin-bottom: 4px;
}
.shoes-bg{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #2591fbfa 0.1%, #000780 99.8% );
    border-radius: .3rem;
    color: white;
    padding: .75rem;
    margin-bottom: 4px;
}
.background{
    background-color: #d4ebec;
}
#shoes{
    padding: .75rem;
    margin-bottom: 30px;
}